{% extends 'core/layout.html' %} {% block content %}
<div class="container" id="page-content">
  <div class="box h">
    <h1 class="title border-bottom">Leave Review</h1>

    <div class="login-form mt-3">
      <form method="POST">
        {% csrf_token %} 

        {% for field in form %}

        <!-- Evaluators name  -->
        <div class="field">
            <input type="hidden" name="lecturer_id" value="{{ lecturer.id  }}">
            <input type="hidden" name="evaluators_name" value="{{ lecturer.user.name  }}">
        </div>


        <div class="field">
          <label class="">{{ field.label_tag }}</label>
          <div class="control">
            <div class="select is-primary is-large">{{ field }}</div>
          </div>
        </div>
        {% endfor %}


        <!-- I_attend_trainings_about_my_teaching_field -->
        <section class="mt-4">
        <label for="">Please write down what you are good at</label>
          <textarea 
          name="Please_write_down_what_you_are_good_at" 
          cols="30" 
          rows="5" 
          class="textarea is-primary is-size-4" 
          placeholder="Please write down what you are good at"
          autocomplete
          spellcheck
          required
          ></textarea>
        </section>

        <!-- What_do_you_need_to_do_to_improve_yourself -->
        <section class="mt-4">
        <label for="">What do you need to do to improve yourself</label>
          <textarea 
          name="What_do_you_need_to_do_to_improve_yourself" 
          cols="30" 
          rows="5" 
          class="textarea is-primary is-size-4" 
          autocomplete
          spellcheck
          required
          placeholder="What do you need to do to improve yourself"></textarea>
        </section>

        <!-- What_strategies_will_you_use_to_improve_yourself -->
        <section class="mt-4">
        <label for="">What strategies will you use to improve yourself</label>
          <textarea 
          name="What_strategies_will_you_use_to_improve_yourself" 
          cols="30" 
          rows=5" 
          class="textarea is-primary is-size-4" 
          placeholder="What strategies will you use to improve yourself"
          autocomplete
          spellcheck
          required
          ></textarea>
        </section>



        <!-- Registration Button -->
        <div class="submit-btn mt-6">
          <button class="button is-primary is-large">Review</button>
        </div>
      </form>
    </div>

    <div class="has-text-medium mt-6">
      <small>
        An annual peer performance evaluation form is used by a supervisor to provide feedback to their employees on their performance over a year. It gives the employee an opportunity to discuss future improvements to their performance with their supervisor. The supervisor uses the annual peer performance evaluation form to give feedback to their employees as part of an annual performance review.
      </small>
    </div>
  </div>
</div>
{% endblock %}
