{% extends 'core/layout.html' %}
{% block content %}
<div class="container" id="page-content">
  <div class="box">
    <h1 class="title border-bottom">Login</h1>
    <div class="login-form mt-3">
      <form action="{% url 'core:login' %}" method="POST">
        {% csrf_token %}

        <div class="field">
          <label for="" class="">School ID</label>
          <p class="control has-icons-left has-icons-right">
            <input
              class="input is-large"
              type="text"
              placeholder="CH/FCULT/DPT/SD/12345672"
              name="school_id"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <label for="" class="">Password</label>
          <p class="control has-icons-left">
            <input
              class="input is-large is-primary"
              type="password"
              placeholder="****************"
              name="password"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>

        <div class="submit-btn mt-4">
          <button type="submit" class="button is-primary is-large">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
